[Unit]
Description=Dynamic DNS Client systemd demon

[Service]
WorkingDirectory=/usr/local/bin/ddnsclient
ExecStart=/usr/local/bin/ddnsclient/DdnsClient
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=ddnsclient
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target